name: "Deploy Terraform Pipeline for infra for connecting mysqlDB and wordpress"

on:
  push:
    paths:
      - 'modules/**'
      - '*.tf'
      - '*.tfvars'

  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest
    
    steps:
      # Step 1: Checkout Code
      - name: Checkout Code
        uses: actions/checkout@v3

      # Step 2: Install Terraform
      - name: Install Terraform
        run: |
          sudo apt-get update -y
          sudo apt-get install -y wget unzip
          wget https://releases.hashicorp.com/terraform/1.5.7/terraform_1.5.7_linux_amd64.zip
          unzip terraform_1.5.7_linux_amd64.zip
          sudo mv terraform /usr/local/bin/
          terraform -version
      
      # Step 3: Set Azure Environment Variables
      - name: Set Azure Environment Variables
        env:
          ARM_CLIENT_ID: ${{ secrets.AZURE_CLIENT_ID }}
          ARM_CLIENT_SECRET: ${{ secrets.AZURE_CLIENT_SECRET }}
          ARM_SUBSCRIPTION_ID: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
          ARM_TENANT_ID: ${{ secrets.AZURE_TENANT_ID }}
        run: echo "Azure environment variables set for Terraform."
      
      # Step 4: Log in to Azure CLI using the Azure Login Action
      - name: Azure Login
        uses: azure/login@v1
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}

      # Step 5: Initialize Terraform
      - name: Terraform init
        run: |
          terraform init

      # Step 6: Validate Terraform templates
      - name: Terraform validate
        run: |
          terraform validate
      
      # step 7: Plan Terraform Changes
      - name: Terraform plan
        run: |
          terraform plan
      
      # step 8: Apply Terraform Changes
      - name: tf apply
        run: |
          echo "Creating Terraform Infra"
          terraform apply --auto-approve
